[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wheel = "*"
apache-airflow = "==2.0.0"
apache-airflow-providers-sqlite = "*"

[dev-packages]

[requires]
python_version = "3.9"
